@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-news-cta: rgb(231, 76, 60);
  --color-news-headline: rgb(17, 17, 17);
  --color-news-text: #444444;
  --color-news-white-bg: #fff;
  --color-news-section-bg: #f9f9f9;
  --color-news-dark: #090708;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-news-title: "Lora", serif;
  --font-news-body: "Switzer", -apple-system, Roboto, Ubuntu, sans-serif;
  --font-footer-newsletter: TrebuchetMS, "Lucida Grande", "Lucida Sans Unicode", sans‑serif;
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer components {
  .bg__gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  /* body {
    background-color: #fff;
    font-family: var(--font-switzer), -apple-system, Roboto, Ubuntu, sans-serif; 
    box-sizing: border-box;
  } */

  html {
    -webkit-text-size-adjust: 100%; /* Safari fix */
  }

  body {
    @apply bg-white box-border font-news-body antialiased;
  }

  .sidebar {
    scrollbar-width: none !important; /* Firefox এর জন্য */
  }

  /* Chrome, Safari, Edge এর জন্য */
  .sidebar::-webkit-scrollbar {
    display: none !important;
  }
}

@layer utilities {
  /* .news__title {
    font-family: var(--font-lora), serif;
  } */

  /* =============================== tip tap ========================== */

  .editor-container {
    position: relative;
  }

  .tiptap {
    h1 {
      @apply text-5xl font-bold mb-3 !wrap-break-word;
    }

    h2 {
      @apply text-3xl font-semibold mb-3;
    }

    h3 {
      @apply text-2xl font-semibold mb-3;
    }

    p {
      @apply text-base font-normal;
    }

    a {
      @apply text-base text-blue-600 underline duration-700 hover:text-blue-700 hover:duration-700;
    }

    img {
      width: 300px;
      height: 300px;
      margin: 1.5rem 0;
      max-width: 100%;
      max-height: 600px;

      &.ProseMirror-selectednode {
        outline: 3px solid var(--purple);
      }
    }
  }

  /* Toggle বাটন যখন অ্যাক্টিভ বা 'pressed' থাকবে, তার জন্য স্টাইল */
  button[data-state="on"] {
    @apply bg-black text-white hover:bg-slate-700 hover:text-white;
  }

  /* globals.css */

  /* টেবিলের স্টাইল */
  .tiptap table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
  }

  .tiptap th,
  .tiptap td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    min-width: 1em;
    vertical-align: top;
    position: relative;
  }

  .tiptap th {
    background-color: #f1f3f5;
    font-weight: bold;
    text-align: left;
  }

  /* কলাম রিসাইজ করার হ্যান্ডেলের জন্য স্টাইল */
  .tiptap .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #adf;
    pointer-events: none;
  }

  /* tiptap content */
  .tiptap-content {
    @apply overflow-auto;

    h1 {
      @apply text-5xl! font-bold! my-4!;
    }

    h2 {
      @apply text-3xl! font-semibold my-3;
    }

    h3 {
      @apply text-2xl! font-semibold! my-2!;
    }

    p {
      @apply text-base! leading-relaxed! my-2!;
    }

    ul {
      @apply list-disc! list-inside! my-2!;
    }

    ol {
      @apply list-decimal! list-inside! my-2!;
    }

    img {
      @apply w-full max-w-[600px]! max-h-[1000px]! aspect-[3/4]! object-center! rounded-lg! my-4! mx-auto!;
    }

    a {
      @apply text-news-cta! underline! hover:text-news-cta/70! hover:duration-500 duration-500;
    }

    strong,
    b {
      @apply font-bold! text-gray-900!;
    }

    i,
    em {
      @apply italic;
    }

    table {
      @apply w-full border border-gray-300 border-collapse my-4;
    }

    thead {
      @apply bg-gray-100;
    }

    th,
    td {
      @apply border border-gray-50 px-4 py-2 text-left;
    }

    th {
      @apply font-semibold bg-gray-300;
    }

    tbody tr:nth-child(odd) {
      @apply bg-gray-100;
    }

    tbody tr:hover {
      @apply bg-gray-50 transition duration-300;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .footer-success-title {
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    color: rgb(254, 254, 254);
  }

  .footer-success-message {
    font-family: TrebuchetMS, "Lucida Grande", "Lucida Sans Unicode", sans‑serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: rgb(254, 254, 254);
  }
}
